[req]
default_bits = 4096
prompt = no
default_md = sha256
req_extensions = req_extensions
distinguished_name = req_distinguished_name

[req_distinguished_name]
CN = kube-apiserver

[req_extensions]
subjectAltName = @alt_names

[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.cluster
DNS.5 = kubernetes.default.svc.cluster.local
DNS.6 = ${K8S_CLUSTER_DOMAIN}
IP.1 = 127.0.0.1
IP.2 = ${K8S_INSTANCE_HOST}

[ v3_ext ]
authorityKeyIdentifier = keyid, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage       = serverAuth, clientAuth
subjectAltName         = @alt_names