# Service Accounts
#
# The Kubernetes Controller Manager leverages a key pair to generate
# and sign service account tokens as described in the
# [managing service accounts](https://kubernetes.io/docs/admin/service-accounts-admin/)
# documentation.

[req]
distinguished_name = req_distinguished_name
prompt             = no
req_extensions     = req_extensions

[req_distinguished_name]
CN = service-accounts

[req_extensions]

[v3_ext]