[req]
distinguished_name = req_distinguished_name
prompt             = no
x509_extensions    = ca_x509_extensions

[ca_x509_extensions]
basicConstraints = CA:TRUE
keyUsage         = cRLSign, dataEncipherment, digitalSignature, keyEncipherment, keyCertSign, nonRepudiation

[req_distinguished_name]
CN = KUBERNETES-CA
